.form__field{
  max-width: 358px;
}

.form__field:nth-child(2){
  margin: 29px auto 0;
}

@media screen and (max-width: 580px) {
  .form__field{
    max-width: 238px;
  }

  .form__field:nth-child(2){
    margin: 29px auto 0;
  }
}