.form__field{
  max-width: 358px;
  margin: 54px auto 0;
  border-bottom: 1px solid black;
}
.form__field:nth-child(1){
  margin: 34px auto 0;
}

@media screen and (max-width: 578px) {
  .form__field{
    max-width: 238px;
    margin: 75px auto 0;
  }

  .form__field:nth-child(1){
    margin: 30px auto 0;
  }
}