.profile{
  display: flex;
  max-width: 880px;
  margin: 45px auto 0;
  justify-content: space-between;
}

@media screen and (max-width: 879px) {
  .profile{
    align-items: center;
    flex-direction: column;
    margin: 42px auto 0;

  }
}

@media screen and (max-width: 580px) {
  .profile__info{
    max-height: 286px;
    
  }
}
