.header{
  max-width: 880px;
  margin: 45px auto 0;
}

@media screen and (max-width: 879px) {
  .header{
    max-width: 581px;
  }
}

@media screen and (max-width: 580px) {
  .header{
    margin: 28px auto 0;
  }
}
