.header{
  max-width: 880px;
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding-bottom: 41px;
  box-sizing: border-box;
}

@media screen and (max-width: 879px) {
  .header{
    max-width: 581px;
  }
}

@media screen and (max-width: 580px) {
  .header{
    margin: 28px auto 0;
    padding-bottom: 32px;
  }
}
