.form__input{
  border: none;
  font-size: 14px;
  line-height: 17px;
  max-width: 358px;
  padding: 0 0 13px;
}

.form__input:focus{
  outline: none;
}

.form__input::placeholder {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: black;
} 

.form__input::-ms-input-placeholder {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: black;
} 
