.profile__info{
  margin-left: 30px;
  display: grid;
  grid-template-columns: 294px auto;
  grid-template-rows: minmax(39px, max-content) minmax(18px, max-content);
  align-self: center;
  justify-items: start;
  gap: 16px 18px;
}

@media screen and (max-width: 580px) {
  .profile__info{
    max-width: 282px;
    margin: 26px 0 0;
    justify-items: center;
    gap: 14px 10px;
    grid-template-columns: 189px auto;
  }
}
