.profile__info{
  min-height: 73px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 294px auto;
  grid-template-rows: minmax(39px, max-content) minmax(18px, max-content);
  align-self: center;
  justify-items: start;
  gap: 16px 18px;
  grid-template-areas:
    "name edit-button"
    "ocupation ocupation";
}

@media screen and (max-width: 581px) {
  .profile__info{
   margin: 26px 0 36px;
  }
}
